.banner {
    background-image: url(#{$img-path}/banner-image.jpg);
    background-repeat: no-repeat;
    background-origin: content-box;
    background-size: 100% 100%;
    &__left-text {
        color: $bg-light;
        font-weight: $fw-4;
        
        @include xs{
            font-size: 23px;
            line-height: 26px;
            text-align: center;
            max-width:100%;
        }
        @include md{
            font-size: 30px;
            text-align: left;
            line-height: 35px;
        }
        @include lg{      
        line-height: 45px; 
        font-size: $fs-l;
        text-align: left;
        max-width: 388px;
        max-height: 228px;
        }
    }

    &__right {
        padding: $xl;
        box-sizing: border-box;
        max-width: 426px;
        border-radius: 10px;
        
        h3 {
            color: #000000;
            font-size: 28px;
            opacity: 1;
        }

        p {
            color: #000000;
            opacity: 0.7;
        }

        &__form {
            .input {
                background-color: $bg-input;
                border: none;
                padding: 10px;
                margin-bottom: 17px;
                border-radius: 50px;
                color: $text;
                font-size: 14px;
            }

            .btn--secondary {
                background-image: linear-gradient(to right, $btn-primary , $btn-secondary);
                border: none;
                border-radius: 50px;
                color: $bg-light;
                padding: 10px;
            }

        }
    }

}

.banner-fotter {
    position: relative;
    &::after{
        content: url(#{$img-path}/Shape\ 18.png);
        position: absolute;
        top: -300%;
        left: 9%;
        width: 100%;
        z-index: -1;
        overflow: hidden;
        background-repeat: no-repeat;
        
        @include xs{
            display: none;
        }
        @include sm{
            display: none;
        }
        @include md{
            display: none;
        }
        @include lg{
            display: block;
        }
        
    }
    &__card {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        gap: 6px;
        @include xs{
            justify-content: center;
            margin:20px;
            bottom: 0px;
        }
        @include lg{
            justify-content: start;
            bottom: 27px;
            margin: 0;
        }
        &-box {
            box-sizing: border-box;
            background: $bg-light;
            max-width: 236px;
            max-height: 158px;
            padding: 40px 27px 35px 43px;
            box-shadow: 0px 0px 7px 2px whitesmoke;
            display: flex;
            align-items: center;
            border-radius: 10px;
            img {
                width: 54px;
                height: 54px;
            }

            &__text {
                padding: 10px;
                h3 {
                    color: $heading-color;
                    font-size: 30px;
                    font-weight: $fw-5;
                    line-height: 1;
                }

                p {
                    font-size: $xm;
                    color: $gray;
                    line-height: 1.2;
                }
            }
        }
    }
}

